body {color:#000;font: 9pt Times, serif;}
a {text-decoration: underline;color:#999;}
.skiplinks{display: none;}
#region-pre {display:none !important; visibility: hidden;}
#jcontrols_button, #headerwrap, #footerwrapper, #region-pre, #awesomebar, #page-header, .navbar,#dock{display: none;}
#pageheading {text-align: center;font: 18pt;border: 1px solid black;padding: 10px;}
#region-main {margin-left: 0px !important}
